.searchField{
    display: flex;
    background-color: var(--color-input-field);
    border-radius: .3rem;
}
.searchField input{
    padding: 0.625rem;   
    border-radius: .3rem;
    background-color: transparent;
    font-weight: 500;
}
.searchField svg{
    padding: 0.625rem;
    cursor: pointer;
}