.tempInfo {
  text-align: center;
}
.tempInfo h2 {
  font-size: 2.2rem;
  color: var(--color-p2);
}
.tempInfo > p {
  color: var(--color-p2);
  font-weight: 600;
  font-size: 1.1rem;
}
.tempInfo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 0.2rem;
  color: blue;
  font-weight: 400;
}
